@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
.coll {
  border-collapse: collapse;
}
/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
html {
  font-family: Pretendard, sans-serif;
  scroll-behavior: smooth;
}
.container .wrap section.dashboard article.noti-evt .note .month-wrap .thumb {
  background-color: #F6F6F6;
}
.container .wrap section.dashboard article .ul-list li {
  zoom: 1;
}
.container .wrap section.dashboard article .ul-list li:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.container .wrap section.dashboard article .ul-list li:after {
  visibility: visible;
}
.container .wrap section.dashboard article .ul-list li .thumb {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.25rem;
  vertical-align: middle;
  padding-top: 0.5rem;
  box-sizing: border-box;
}
.container .wrap section.dashboard article .ul-list li .thumb span {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #333;
  letter-spacing: -0.01em;
  display: block;
  text-align: center;
  font-weight: 500;
}
.container .wrap section.dashboard article .ul-list li .txt-wrap {
  vertical-align: middle;
  width: 7.5rem !important;
}
.container .wrap section.dashboard article .ul-list li .d-day {
  font-size: 0.875rem;
  line-height: 3.125rem;
  letter-spacing: -0.01em;
  color: #333;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  float: right;
  padding-right: 1.25rem;
  height: 3.125rem;
  box-sizing: border-box;
}
.container .wrap section.dashboard article .select {
  width: auto;
  margin-right: 0.625rem;
}
.container .wrap section.dashboard article .select select {
  width: auto;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .history {
  height: 31.125rem;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .expenses {
  height: 9.875rem;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .graph {
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .graph .legend ul li.list2 i {
  background-color: #669DED;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .graph .legend ul li.list3 i {
  background-color: #F7CC01;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .graph .legend ul li.list4 i {
  background-color: #FF9F79;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .graph .legend ul li.list5 i {
  background-color: #A99AEE;
}
.container .wrap section.dashboard article.account-calendar .inner .acc-book .acc-cont .graph .legend ul li.list6 i {
  background-color: #EEEEEE;
}
.container .wrap section.dashboard article.hosp-info .inner.inner1 .cell .cell-inner .map {
  width: 22.1875rem;
  height: 11.25rem;
}
.container .wrap section.dashboard article.hosp-info .inner.inner1 .cell .cell-inner .tit {
  margin-top: 1.25rem;
}
.container .wrap section.dashboard article.hosp-info .inner.inner1 .cell .cell-inner .txt p {
  margin-top: 0.75rem;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell {
  background-color: #F6F6F6;
  border: 1px solid #EEEEEE;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review {
  display: inline-block;
  width: 100%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont {
  padding: 0rem;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag {
  height: 21.5625rem;
  overflow-y: auto;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul {
  text-align: center;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li {
  margin-bottom: 1.125rem;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li p {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: -0.01em;
  color: #111;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  width: 3.875rem;
  text-align: left;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar {
  width: 10rem;
  height: 0.5rem;
  border-radius: 0.125rem;
  background-color: #F5F5F5;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.875rem;
  overflow: hidden;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span {
  background-color: #FFBE1C;
  height: 0.5rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per100 {
  width: 100%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per90 {
  width: 90%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per80 {
  width: 80%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per70 {
  width: 70%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per60 {
  width: 60%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per50 {
  width: 50%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per40 {
  width: 40%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per30 {
  width: 30%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per20 {
  width: 20%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .bar span.per10 {
  width: 10%;
}
.container .wrap section.dashboard article.hosp-info .inner.inner2 .cell .review .review-cont .review-tag ul li .score {
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: -0.01em;
  color: #111;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 1.375rem;
}
.container .wrap section.dashboard article.arti-style .inner .cont .pet-info .nm-info .bir .gender {
  display: inline-block;
  vertical-align: middle;
  filter: invert(1);
}
.container .wrap section.dashboard article.arti-style .inner .cont .pet-info .nm-info .bir .gender.female {
  width: 0.625rem;
  height: 0.875rem;
  background-repeat: no-repeat;
  background-image: url('../img/member/ico-female.svg');
  background-size: contain;
}
.container .wrap section.dashboard article.arti-style .inner .cont .pet-info .nm-info .bir .gender.male {
  width: 0.875rem;
  height: 0.875rem;
  background-repeat: no-repeat;
  background-image: url('../img/member/ico-male.svg');
  background-size: contain;
}
.container .wrap section .calendar-wrap.calendar-wrap2 {
  height: 31.75rem;
}
.container .wrap section .calendar-wrap.calendar-wrap2 th {
  height: 3.4375rem;
}
ul li.hosp .inf .t i {
  width: 0.9375rem;
  height: 0.9375rem;
}
ul li.pharm .inf .t i {
  width: 0.9375rem;
  height: 0.9375rem;
}
ul li.pharm .inf .tag span {
  color: #FF9556;
  border: 1px solid #FF9556;
}
ul li .inf .tag {
  margin-top: 0.625rem;
}
ul li .inf .tag span {
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: #103831;
  letter-spacing: -0.01em;
  font-weight: 500;
  padding-top: 0.3125rem;
  padding-right: 0.5rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #103831;
  margin-right: 0.25rem;
  border-radius: 0.6875rem;
}
.popup .inner .pos-inner .swiper-pop {
  height: auto;
}
/*# sourceMappingURL=member-edit.css.map */