.coll {
  border-collapse: collapse;
}
/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .fs13 {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
    letter-spacing: -2%;
  }
  .mo {
    display: none;
  }
  .ta {
    display: inline-block;
  }
  .web {
    display: none;
  }
  .container .wrap header {
    width: 100%;
    height: 6.51041667vw;
  }
  .container .wrap header .h-inner h1 {
    width: 14.32291667vw;
    height: 6.51041667vw;
    left: 7.8125vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap header .h-inner h1:after {
    content: '';
    display: block;
    width: 14.32291667vw;
    height: 3.64583333vw;
    left: 0vw;
    top: 1.43229167vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap header .h-inner .my-point {
    font-size: 1.43229167vw;
    line-height: 1.69270833vw;
    right: 11.71875vw;
    top: 3.125vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap header .h-inner .menu {
    width: 6.51041667vw;
    height: 7.8125vw;
  }
  .container .wrap header .h-inner .menu:after {
    content: '';
    display: block;
    width: 2.60416667vw;
    height: 2.60416667vw;
    right: 7.8125vw;
    top: 2.47395833vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap header .menu-list {
    left: 0vw;
    top: 6.51041667vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap header .menu-list .menu-item {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
    padding-top: 2.47395833vw;
    padding-right: 0vw;
    padding-bottom: 2.47395833vw;
    padding-left: 0vw;
  }
  .container .wrap header.open .menu-list {
    padding-top: 2.734375vw;
    padding-right: 0vw;
    padding-bottom: 2.734375vw;
    padding-left: 0vw;
    height: 34.63541667vw;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .container .wrap section {
    padding-top: 6.51041667vw;
    padding-right: 7.8125vw;
    padding-bottom: 15.625vw;
    padding-left: 7.8125vw;
    margin-top: 6.51041667vw;
    box-sizing: border-box;
  }
  .container .wrap section h3 {
    font-size: 2.86458333vw;
    line-height: 3.515625vw;
  }
  .container .wrap section article.top h2 {
    font-size: 3.64583333vw;
    line-height: 4.42708333vw;
    margin-bottom: 2.08333333vw;
  }
  .container .wrap section article.top .swiper {
    width: 49.21875vw;
    height: 47.65625vw;
    border-radius: 0.390625vw;
    margin-bottom: 0vw;
    display: inline-block;
    vertical-align: top;
    margin-right: 3.90625vw;
  }
  .container .wrap section article.top .swiper .swiper-btn {
    width: 5.20833333vw;
    height: 5.20833333vw;
    bottom: 3.25520833vw;
  }
  .container .wrap section article.top .swiper .swiper-btn.swiper-button-prev {
    background-repeat: no-repeat;
    background-image: url('../shop/images/t/btn_left.svg');
    background-size: contain;
    left: 14.97395833vw;
  }
  .container .wrap section article.top .swiper .swiper-btn.swiper-button-next {
    background-repeat: no-repeat;
    background-image: url('../shop/images/t/btn_right.svg');
    background-size: contain;
    right: 14.97395833vw;
  }
  .container .wrap section article.top .swiper .page-num {
    font-size: 1.69270833vw;
    line-height: 5.20833333vw;
    height: 5.20833333vw;
    left: 50%;
    bottom: 3.25520833vw;
    right: auto;
    top: auto;
  }
  .container .wrap section article.top .swiper .page-num span {
    margin-top: 0vw;
    margin-right: 0.65104167vw;
    margin-bottom: 0vw;
    margin-left: 0.65104167vw;
  }
  .container .wrap section article.top .suggestion {
    display: inline-block;
    vertical-align: top;
  }
  .container .wrap section article.top .suggestion ul li {
    width: 31.25vw;
    height: 21.875vw;
    display: block;
    margin-bottom: 3.90625vw;
  }
  .container .wrap section article.ins {
    padding-top: 26.04166667vw;
  }
  .container .wrap section article.ins .tit {
    width: 29.94791667vw;
    height: 19.53125vw;
    border: 0.52083333vw solid #103831;
    right: 3.90625vw;
    top: 10.41666667vw;
    left: auto;
    bottom: auto;
    padding: 3.125vw;
  }
  .container .wrap section article.ins .tit p {
    font-size: 3.125vw;
    line-height: 3.90625vw;
  }
  .container .wrap section article.ins ul .ins-list {
    width: 18.22916667vw;
    height: 18.22916667vw;
    margin-top: 0vw;
    margin-right: 3.90625vw;
    margin-bottom: 3.90625vw;
    margin-left: 0vw;
    border-radius: 0.390625vw;
  }
  .container .wrap section article.ins ul .ins-list:nth-child(even) {
    width: 18.09895833vw;
    margin-right: 3.90625vw;
  }
  .container .wrap section article.ins ul .ins-list:nth-child(4n) {
    margin-right: 0vw;
  }
  .container .wrap section article.ins ul .ins-list .cn p {
    font-size: 1.69270833vw;
    line-height: 2.21354167vw;
  }
  .container .wrap section article .prd-info p {
    font-size: 1.5625vw;
    line-height: 1.953125vw;
  }
  .container .wrap section article .prd-info p.nm {
    margin-bottom: 1.04166667vw;
  }
  .container .wrap section article .prd-info p.price-box {
    margin-bottom: 0.65104167vw;
  }
  .container .wrap section article .prd-info p.price-box span {
    margin-right: 0.52083333vw;
  }
  .container .wrap section article .main-go {
    font-size: 1.953125vw;
    line-height: 6.51041667vw;
    width: 35.15625vw;
    height: 6.51041667vw;
    margin-top: 7.8125vw;
  }
  .container .wrap section article .num-wrap {
    width: 15.625vw;
    height: 6.25vw;
    margin-bottom: 1.5625vw;
    right: 0vw;
    top: 2.34375vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section article .num-wrap a {
    width: 4.55729167vw;
    height: 6.25vw;
  }
  .container .wrap section article .num-wrap a:after {
    content: '';
    display: block;
    width: 2.21354167vw;
    height: 2.21354167vw;
    top: 2.08333333vw;
  }
  .container .wrap section article .num-wrap a.up:after {
    right: 2.34375vw;
  }
  .container .wrap section article .num-wrap a.down:after {
    left: 2.34375vw;
  }
  .container .wrap section article .num-wrap input {
    font-size: 1.953125vw;
  }
  .container .wrap section article .num-select {
    width: 100%;
    height: 6.25vw;
    margin-bottom: 1.5625vw;
  }
  .container .wrap section article .num-select:after {
    content: '';
    display: block;
    width: 2.21354167vw;
    height: 2.21354167vw;
    right: 2.08333333vw;
    top: 1.953125vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section article .num-select .label {
    font-size: 1.953125vw;
    line-height: 6.25vw;
    letter-spacing: -1%;
    padding-left: 2.60416667vw;
  }
  .container .wrap section article .num-select .opt-list {
    left: -0.13020833vw;
    top: 5.98958333vw;
    right: auto;
    bottom: auto;
    width: 43.48958333vw;
    height: 0vw;
  }
  .container .wrap section article .num-select .opt-list .opt-item {
    font-size: 1.953125vw;
    height: 6.25vw;
    line-height: 6.25vw;
    padding-left: 2.60416667vw;
  }
  .container .wrap section.terms-cnt {
    padding-top: 0vw;
    padding-right: 7.8125vw;
    padding-bottom: 0vw;
    padding-left: 7.8125vw;
  }
  .container .wrap section.terms-cnt .content {
    padding-top: 7.55208333vw;
    padding-right: 0vw;
    padding-bottom: 7.55208333vw;
    padding-left: 0vw;
  }
  .container .wrap section.terms-cnt .content p {
    font-size: 1.953125vw;
    line-height: 3.25520833vw;
    margin-bottom: 3.25520833vw;
  }
  .container .wrap section.terms-cnt .content p.tit {
    font-size: 3.64583333vw;
    line-height: 6.51041667vw;
    margin-bottom: 3.90625vw;
  }
  .container .wrap section.terms-cnt .content p.tit i {
    font-size: 3.125vw;
  }
  .container .wrap section.shop {
    text-align: left;
  }
  .container .wrap section.shop h3 {
    font-size: 2.60416667vw;
    line-height: 3.125vw;
    padding-left: 19.53125vw;
  }
  .container .wrap section.shop article.shop-menu-list {
    width: 15.625vw;
    display: inline-block;
    vertical-align: top;
    margin-right: 3.90625vw;
    position: sticky;
    top: 2.60416667vw;
    padding-top: 5.20833333vw;
  }
  .container .wrap section.shop article.shop-menu-list .t-h {
    padding-bottom: 1.953125vw;
  }
  .container .wrap section.shop article.shop-menu-list .t-h .tit {
    font-size: 2.34375vw;
    line-height: 2.86458333vw;
    display: block;
    margin-bottom: 2.60416667vw;
  }
  .container .wrap section.shop article.shop-menu-list .t-h .type {
    float: none;
  }
  .container .wrap section.shop article.shop-menu-list .t-h .type a {
    font-size: 1.69270833vw;
    line-height: 2.86458333vw;
    padding-top: 0vw;
    padding-right: 1.30208333vw;
    padding-bottom: 0vw;
    padding-left: 1.30208333vw;
    text-align: left;
  }
  .container .wrap section.shop article.shop-menu-list .t-h .type a:first-child {
    padding-left: 0vw;
  }
  .container .wrap section.shop article.shop-menu-list .t-h .type a:last-child {
    padding-right: 1.30208333vw;
  }
  .container .wrap section.shop article.shop-menu-list .t-h .type a:after {
    content: '';
    display: block;
    width: 0.13020833vw;
    height: 1.30208333vw;
    left: 0vw;
    top: 0.78125vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap section.shop article.shop-menu-list ul li a {
    font-size: 1.69270833vw;
    line-height: 2.08333333vw;
    padding-top: 1.04166667vw;
    padding-right: 0vw;
    padding-bottom: 1.04166667vw;
    padding-left: 0vw;
  }
  .container .wrap section.shop article.shop-menu-list ul .ou-wrap {
    padding-top: 1.04166667vw;
    padding-right: 0vw;
    padding-bottom: 1.04166667vw;
    padding-left: 0vw;
  }
  .container .wrap section.shop article.shop-menu-list ul .ou-wrap .ou-list:after {
    content: '';
    display: block;
    width: 0.91145833vw;
    height: 0.91145833vw;
    right: 0vw;
    top: 1.5625vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.shop article.shop-menu-list ul .ou-wrap .ou-list.on:after {
    content: '';
    display: block;
    width: 0.91145833vw;
    height: 0.91145833vw;
    right: 0vw;
    top: 1.5625vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.shop article.prd-wrap {
    width: 64.84375vw;
    display: inline-block;
    vertical-align: top;
    padding-top: 5.20833333vw;
  }
  .container .wrap section.shop article.prd-wrap ul {
    display: inline-block;
  }
  .container .wrap section.shop article.prd-wrap ul li {
    width: 19.01041667vw;
    height: 32.94270833vw;
    display: inline-block;
    vertical-align: top;
    margin-right: 3.90625vw;
  }
  .container .wrap section.shop article.prd-wrap ul li:nth-child(3n) {
    margin-right: 0vw;
  }
  .container .wrap section.shop article.prd-wrap ul li .prd {
    width: 19.01041667vw;
    height: 19.01041667vw;
    border-radius: 0.390625vw;
    margin-bottom: 1.5625vw;
  }
  .container .wrap section.shop article.prd-wrap ul li.new:after {
    content: 'New';
    font-size: 1.43229167vw;
    line-height: 1.82291667vw;
    padding-top: 0.52083333vw;
    padding-right: 1.04166667vw;
    padding-bottom: 0.65104167vw;
    padding-left: 1.04166667vw;
    border-radius: 0.390625vw 0 0 0.390625vw;
    border-bottom-left-radius: 0;
  }
  .container .wrap section.shop article.prd-wrap ul li.best:after {
    content: 'Best seller';
    font-size: 1.43229167vw;
    line-height: 1.82291667vw;
    padding-top: 0.52083333vw;
    padding-right: 1.04166667vw;
    padding-bottom: 0.65104167vw;
    padding-left: 1.04166667vw;
    border-radius: 0.390625vw 0 0 0.390625vw;
    border-bottom-left-radius: 0;
  }
  .container .wrap section.detail article.detail-wrap {
    zoom: 1;
  }
  .container .wrap section.detail article.detail-wrap:after {
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container .wrap section.detail article.detail-wrap .breadcrumbs {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
  }
  .container .wrap section.detail article.detail-wrap .paging {
    margin-top: 0.13020833vw;
  }
  .container .wrap section.detail article.detail-wrap .paging a.next {
    margin-left: 3.125vw;
    position: relative;
  }
  .container .wrap section.detail article.detail-wrap .paging a.next:after {
    content: '';
    display: block;
    width: 0.13020833vw;
    height: 1.30208333vw;
    background-color: #ccc;
    position: absolute;
    left: -1.5625vw;
    top: 0.65104167vw;
    right: auto;
    bottom: auto;
  }
  .container .wrap section.detail article.detail-wrap .paging a s {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
    color: #333;
    display: inline-block;
    vertical-align: middle;
  }
  .container .wrap section.detail article.detail-wrap .paging a i {
    width: 1.953125vw;
    height: 1.953125vw;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0vw;
    margin-right: 0.52083333vw;
    margin-bottom: 0vw;
    margin-left: 0.52083333vw;
  }
  .container .wrap section.detail article.detail-wrap .paging a.prev i {
    background-repeat: no-repeat;
    background-image: url('../shop/images/mo/btn_prev.svg');
    background-size: contain;
  }
  .container .wrap section.detail article.detail-wrap .paging a.next i {
    background-repeat: no-repeat;
    background-image: url('../shop/images/mo/btn_next.svg');
    background-size: contain;
  }
  .container .wrap section.detail article.detail-wrap .prd {
    width: 37.76041667vw;
    height: 37.76041667vw;
    margin-top: 2.60416667vw;
    float: left;
    margin-right: 3.125vw;
    border-radius: 0.390625vw;
  }
  .container .wrap section.detail article.detail-wrap .prd-detail-box {
    margin-top: 2.60416667vw;
    display: inline-block;
    vertical-align: top;
    width: 43.48958333vw;
    height: 37.76041667vw;
    position: relative;
  }
  .container .wrap section.detail article.detail-wrap .prd-info {
    margin-top: 0vw;
  }
  .container .wrap section.detail article.detail-wrap .prd-info p {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
  }
  .container .wrap section.detail article.detail-wrap .prd-info p.nm {
    margin-bottom: 1.82291667vw;
  }
  .container .wrap section.detail article.detail-wrap .prd-info p.price-box {
    margin-bottom: 0.78125vw;
  }
  .container .wrap section.detail article.detail-wrap .prd-info p.price-box span {
    margin-right: 0.78125vw;
  }
  .container .wrap section.detail article.detail-wrap .quantity {
    position: absolute;
    left: 0vw;
    bottom: 0.13020833vw;
    right: auto;
    top: auto;
  }
  .container .wrap section.detail article.detail-wrap .quantity p {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
    margin-bottom: 1.30208333vw;
  }
  .container .wrap section.detail article.detail-wrap .quantity .btns a {
    font-size: 1.953125vw;
    line-height: 6.25vw;
    width: 20.96354167vw;
    height: 6.25vw;
  }
  .container .wrap section.detail article.detail-wrap .quantity .btns a.buy-btn {
    margin-left: 1.5625vw;
  }
  .container .wrap section.detail article.exp {
    margin-top: 6.51041667vw;
  }
  .container .wrap section.detail article.exp .ex-t {
    font-size: 2.08333333vw;
    line-height: 2.47395833vw;
    margin-bottom: 1.82291667vw;
  }
  .container .wrap section.detail article.exp .exp-img {
    margin-bottom: 6.51041667vw;
  }
  .container .wrap section.detail article.exp .detail-txt table {
    width: 84.375vw;
  }
  .container .wrap section.detail article.exp .detail-txt table.mo {
    display: inline-block;
  }
  .container .wrap section.detail article.exp .detail-txt table tr th,
  .container .wrap section.detail article.exp .detail-txt table tr td {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
    padding-top: 1.82291667vw;
    padding-right: 1.953125vw;
    padding-bottom: 2.08333333vw;
    padding-left: 2.60416667vw;
    letter-spacing: -0.04em;
  }
  .container .wrap section.detail article.exp .detail-txt table tr th {
    width: 20.83333333vw;
  }
  .container .wrap section.detail article.exp .detail-txt table tr td {
    width: 63.54166667vw;
  }
  .container .wrap section.cart h3 {
    margin-bottom: 6.51041667vw;
  }
  .container .wrap section.cart article .cart-t {
    padding-bottom: 2.60416667vw;
    border-bottom: 0.26041667vw solid #103831;
  }
  .container .wrap section.cart article .cart-t p,
  .container .wrap section.cart article .cart-t .del-select {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
  }
  .container .wrap section.cart article.selects-prd {
    margin-bottom: 7.8125vw;
    min-height: 24.73958333vw;
  }
  .container .wrap section.cart article.selects-prd .cart-t .sel-list {
    margin-right: 2.60416667vw;
  }
  .container .wrap section.cart article.selects-prd .cart-t .sel-list:after {
    content: '';
    display: block;
    width: 0.13020833vw;
    height: 1.30208333vw;
    right: -1.43229167vw;
    top: 0.65104167vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li {
    padding-top: 3.90625vw;
    padding-right: 0vw;
    padding-bottom: 3.90625vw;
    padding-left: 0vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li label {
    margin-right: 3.38541667vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li label input[type=checkbox] + i {
    width: 3.125vw;
    height: 3.125vw;
    background-repeat: no-repeat;
    background-image: url('../shop/images/t/chk.svg');
    background-size: contain;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li label input[type=checkbox]:checked + i {
    background-repeat: no-repeat;
    background-image: url('../shop/images/t/chkd.svg');
    background-size: contain;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .prd {
    width: 13.02083333vw;
    height: 13.02083333vw;
    border-radius: 0.390625vw;
    margin-right: 2.08333333vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .prd-info p {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .prd-info p.nm {
    margin-bottom: 1.5625vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .prd-info p.price-box {
    margin-bottom: 0.52083333vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .prd-info p.price-box span {
    margin-right: 0.78125vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .quantity {
    margin-top: 0vw;
    padding-top: 0vw;
    border-top: 0;
    height: auto;
    width: 15.625vw;
    position: absolute;
    right: 4.94791667vw;
    top: 5.20833333vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .quantity p {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
    margin-top: 0vw;
    margin-bottom: 1.5625vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .quantity .num-wrap {
    width: 15.625vw;
    height: 6.51041667vw;
    position: relative;
    top: 0vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .quantity .num-wrap span {
    height: 3.25520833vw;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .quantity .num-wrap input[type=number]::-webkit-outer-spin-button,
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .quantity .num-wrap input[type=number]::-webkit-inner-spin-button {
    width: 29%;
  }
  .container .wrap section.cart article.selects-prd .cart-cnt ul li .del-list {
    width: 2.34375vw;
    height: 2.34375vw;
    right: 0vw;
    top: 3.90625vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.cart article.selects-prd .empty-txt {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
    margin-top: 13.02083333vw;
  }
  .container .wrap section.cart article.order-summary .purch-info {
    padding-top: 3.125vw;
  }
  .container .wrap section.cart article.order-summary .purch-info p,
  .container .wrap section.cart article.order-summary .purch-info address {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
  }
  .container .wrap section.cart article.order-summary .purch-info address {
    margin-top: 1.5625vw;
    margin-bottom: 3.125vw;
  }
  .container .wrap section.cart article.order-summary .purch-info .add-ch {
    font-size: 1.82291667vw;
    line-height: 6.51041667vw;
    width: 84.375vw;
    height: 6.51041667vw;
    margin-bottom: 3.125vw;
  }
  .container .wrap section.cart article.order-summary .purch-info .poi {
    padding-top: 2.08333333vw;
    padding-right: 5.20833333vw;
    padding-bottom: 2.08333333vw;
    padding-left: 5.20833333vw;
    margin-bottom: 7.8125vw;
  }
  .container .wrap section.cart article.order-summary .purch-info .poi p {
    padding-top: 1.04166667vw;
    padding-right: 0vw;
    padding-bottom: 1.04166667vw;
    padding-left: 0vw;
  }
  .container .wrap section.cart article.order-summary .purch-info .poi p.ship {
    padding-bottom: 3.125vw;
    margin-bottom: 2.08333333vw;
  }
  .container .wrap section.cart article.order-summary .buy-btn {
    font-size: 1.953125vw;
    line-height: 6.51041667vw;
    width: 35.15625vw;
    height: 6.51041667vw;
  }
  .container .wrap section.order article.selects-prd .cart-t p {
    font-size: 2.34375vw;
    line-height: 2.86458333vw;
  }
  .container .wrap section.order article.orderer p {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
  }
  .container .wrap section.order article.orderer p.tit {
    font-size: 2.34375vw;
    line-height: 2.86458333vw;
    margin-top: 7.8125vw;
  }
  .container .wrap section.order article.orderer p.sub-tit {
    margin-top: 3.90625vw;
  }
  .container .wrap section.order article.orderer input[type=text] {
    font-size: 1.953125vw;
    height: 6.51041667vw;
    line-height: 6.51041667vw;
    padding-left: 2.60416667vw;
    margin-top: 1.5625vw;
  }
  .container .wrap section.order article.orderer .add #address {
    width: 54.42708333vw;
    margin-right: 1.30208333vw;
    padding-right: 2.60416667vw;
  }
  .container .wrap section.order article.orderer .add input[type=button] {
    font-size: 1.953125vw;
    line-height: 6.51041667vw;
    width: 28.64583333vw;
    height: 6.51041667vw;
    margin-top: 1.5625vw;
  }
  .container .wrap section.order article.orderer .add input[type=button] + input {
    width: 84.375vw;
    padding-right: 2.60416667vw;
  }
  .container .wrap section.order article.orderer .po-box input {
    width: 54.42708333vw;
    margin-right: 1.30208333vw;
  }
  .container .wrap section.order article.orderer .po-box .use-all {
    font-size: 1.953125vw;
    line-height: 6.51041667vw;
    width: 28.64583333vw;
    height: 6.51041667vw;
    margin-top: 1.5625vw;
  }
  .container .wrap section.order article.orderer .po-box .user-point {
    margin-top: 1.82291667vw;
  }
  .container .wrap section.order article.orderer .pay-wrap {
    margin-top: 3.90625vw;
    margin-right: 0vw;
    margin-bottom: 13.02083333vw;
    margin-left: 0vw;
  }
  .container .wrap section.order article.orderer .pay-wrap label {
    margin-bottom: 2.60416667vw;
  }
  .container .wrap section.order article.orderer .pay-wrap label input[type=radio] + i {
    width: 2.34375vw;
    height: 2.34375vw;
    margin-right: 1.30208333vw;
  }
  .container .wrap section.order article.orderer .pay-wrap label s {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
  }
  .container .wrap section.order article.orderer .pay-wrap label s.payco:after {
    content: '';
    display: block;
    width: 7.16145833vw;
    height: 1.69270833vw;
    right: -8.46354167vw;
    top: 0.26041667vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.order article.orderer .pay-wrap label s.kpay:after {
    content: '';
    display: block;
    width: 5.33854167vw;
    height: 2.08333333vw;
    right: -6.51041667vw;
    top: 0vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.order article.orderer .pay-wrap label s.npay:after {
    content: '';
    display: block;
    width: 5.33854167vw;
    height: 2.08333333vw;
    right: -6.51041667vw;
    top: 0vw;
    left: auto;
    bottom: auto;
  }
  .container .wrap section.order article.orderer ::placeholder {
    font-size: 1.953125vw;
  }
  .container .wrap section.order article .buy-btn {
    font-size: 1.953125vw;
    line-height: 6.51041667vw;
    width: 35.15625vw;
    height: 6.51041667vw;
  }
  .container .wrap section.order-result {
    margin-top: 0vw;
    padding-top: 23.4375vw;
    min-height: auto;
  }
  .container .wrap section.order-result .result-cnt span {
    width: 4.6875vw;
    height: 4.6875vw;
    margin-bottom: 2.34375vw;
  }
  .container .wrap section.order-result .result-cnt .txt {
    font-size: 2.60416667vw;
    line-height: 3.25520833vw;
  }
  .container .wrap section.order-result .result-cnt .sub-txt {
    font-size: 1.953125vw;
    line-height: 2.47395833vw;
    margin-top: 1.5625vw;
  }
  .container .wrap section.order-result .result-cnt .main-go {
    font-size: 1.953125vw;
    line-height: 6.51041667vw;
    width: 35.15625vw;
    height: 6.51041667vw;
    margin-top: 7.8125vw;
  }
  .container .wrap section.my-order h3 {
    font-size: 2.86458333vw;
    line-height: 3.515625vw;
    margin-bottom: 2.60416667vw;
  }
  .container .wrap section.my-order article.order-info {
    border-top: 0.26041667vw solid #103831;
  }
  .container .wrap section.my-order article.order-info .date {
    padding-top: 2.34375vw;
    padding-right: 0vw;
    padding-bottom: 2.34375vw;
    padding-left: 0vw;
  }
  .container .wrap section.my-order article.order-info .date p {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
  }
  .container .wrap section.my-order article.order-info .date p span {
    margin-left: 1.30208333vw;
  }
  .container .wrap section.my-order article.order-info .date p:nth-child(1) {
    margin-right: 3.125vw;
  }
  .container .wrap section.my-order article.order-info ul li {
    position: relative;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap {
    padding-top: 3.90625vw;
    padding-right: 0vw;
    padding-bottom: 3.90625vw;
    padding-left: 0vw;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap .prd {
    width: 13.02083333vw;
    height: 13.02083333vw;
    border-radius: 0.390625vw;
    margin-right: 2.08333333vw;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap .prd-info p {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap .prd-info p.nm {
    margin-bottom: 1.30208333vw;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap .prd-info p.price-box {
    margin-bottom: 0.52083333vw;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap .prd-info p.price-box span {
    margin-right: 0.78125vw;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap .quantity {
    font-size: 1.953125vw;
    line-height: 2.34375vw;
    border-top: 0;
    border-bottom: 0;
    padding: 0vw;
    margin-top: 0vw;
    position: absolute;
    left: 15.10416667vw;
    bottom: 3.90625vw;
    right: auto;
    top: auto;
  }
  .container .wrap section.my-order article.order-info ul li .prd-wrap .quantity span {
    float: none;
  }
  .container .wrap section.my-order article.order-info ul li .comp {
    padding: 0vw;
    height: auto;
    position: absolute;
    right: 0vw;
    top: 12.5vw;
    left: auto;
    bottom: auto;
    width: 16.92708333vw;
    text-align: center;
  }
  .container .wrap section.my-order article.order-info ul li .comp p,
  .container .wrap section.my-order article.order-info ul li .comp .detail-btn {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
  }
  .container .wrap section.my-order article.order-info ul li .comp p {
    margin-top: 0vw;
  }
  .container .wrap section.my-order article.order-info ul li .comp .detail-btn {
    line-height: 5.46875vw;
    width: 16.92708333vw;
    height: 5.46875vw;
    position: relative;
    right: 0vw;
    top: 0vw;
    left: auto;
    bottom: auto;
    margin-top: 2.08333333vw;
  }
  .container .wrap section.my-order article.no-order-cnt {
    border-top: 0.26041667vw solid #103831;
    padding-top: 15.625vw;
    padding-right: 0vw;
    padding-bottom: 10.41666667vw;
    padding-left: 0vw;
  }
  .container .wrap section.my-order article.no-order-cnt span {
    width: 4.6875vw;
    height: 4.6875vw;
    margin-bottom: 2.34375vw;
  }
  .container .wrap section.my-order article.no-order-cnt p {
    font-size: 2.60416667vw;
    line-height: 3.125vw;
  }
  .container .wrap section.my-order article.no-order-cnt .main-go {
    margin-top: 7.8125vw;
  }
  .container .wrap section.my-order.no-order {
    margin-top: 0vw;
    padding-top: 14.32291667vw;
  }
  .container .wrap section.order-detail .quantity input[type=number] {
    width: 15.625vw;
    height: 6.51041667vw;
    position: relative;
    right: 0vw;
    top: 0vw;
    left: auto;
    bottom: auto;
    padding-left: 2.60416667vw;
  }
  .container .wrap footer {
    padding-top: 0vw;
    padding-right: 7.8125vw;
    padding-bottom: 7.8125vw;
    padding-left: 7.8125vw;
  }
  .container .wrap footer .inner {
    padding-top: 3.90625vw;
    position: relative;
  }
  .container .wrap footer .inner h1 {
    width: 14.32291667vw;
    height: 2.08333333vw;
  }
  .container .wrap footer .inner .terms {
    margin-top: 0vw;
    position: absolute;
    right: 0vw;
    top: 3.90625vw;
    left: auto;
    bottom: auto;
    text-align: right;
  }
  .container .wrap footer .inner .terms a {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
    letter-spacing: -2%;
    margin-top: 0vw;
    margin-right: 0vw;
    margin-bottom: 0vw;
    margin-left: 3.64583333vw;
  }
  .container .wrap footer .inner .co-info,
  .container .wrap footer .inner .copy {
    font-size: 1.82291667vw;
    line-height: 2.21354167vw;
    letter-spacing: -2%;
    line-height: 3.25520833vw;
    margin-top: 3.125vw;
  }
  .container .wrap footer .inner .copy {
    margin-top: 1.5625vw;
  }
  .container .wrap footer .inner .sns {
    margin-top: 5.46875vw;
  }
  .container .wrap footer .inner .sns a {
    width: 2.34375vw;
    height: 2.34375vw;
    margin-right: 2.34375vw;
  }
  .container .wrap.order-complete .order-result + footer {
    width: 100%;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
  }
  .container .wrap .no-order + footer {
    width: 100%;
    position: absolute;
    left: 0vw;
    bottom: 0vw;
    right: auto;
    top: auto;
  }
}
/*# sourceMappingURL=shop-t.css.map */